.preload-putih{
    z-index: 1001;
    position: absolute;
    background-color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.preload-abu{
    z-index: 1001;
    position: absolute;
    background-color: white; /*untuk mengganti Warna Fade saat masuk ke Page*/
    background-size: cover;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.preload-abu-index{
    z-index: 1003;
    position: absolute;
    background-color: white; /*untuk mengganti Warna Fade saat masuk ke Page*/
    background-size: cover;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

/*animasi fadeout*/
#unload-abu{
    z-index: 1001;
    position: absolute;
    background-color: white; /*untuk mengganti Warna Fade saat ganti Page*/
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}